html {
  font-size: 16px;
  font-family: taviraj, serif;
}

a {
  text-decoration: none;
}

/*Header Section*/
header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.logo {
  display:flex;
  align-items: center;
  margin-left: 1.5rem;
}

.colmar, .academy {
  font-size: 1.5rem;
  font-family: 'work sans', 'sans serif';
}

.colmar {
  color: hsl(0, 0%, 29%);
  font-weight: bold;
}

.academy {
  color: hsl(0, 0%, 60%);
}
/*Navbar*/
nav {
  margin-right: 1.5rem;
}

ul {
  display: flex;
}

li {
  margin: 0 0.5rem;
  font-family: 'work sans', sans-serif;
}

/*Top and Middle Section*/
.top-section {
  display: flex;
  background-color: hsl(0, 0%, 80%);
}

.top-left, .middle-left {
  width: 50%;
  margin: 2rem 1.5rem;
}

.top-left img, .middle-left img {
  width: 100%;
}

.top-right {
  width: 40%;
  display: flex;
  align-items: center;
  margin: 0 1.5rem;
}

.top-right-head {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 2.2rem;
  padding-bottom: 1.5rem;
}
h1, h2, h3 {
  font-family: 'work sans', sans-serif;
  font-weight: bold;
  color: hsl(0, 0%, 25%);
}

h2 {
  font-size: 1.2rem;
}

.top-right a {
  margin-top: 1rem;
  text-align: center;
  background-color: hsl(0, 0%, 30%);
  color: white;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.top-right a:hover {
  background-color: hsl(0, 0%, 50%);
}

.middle-section {
  display: flex;
}

.middle-text {
  margin-top: 2rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 900;
  padding-bottom: 1.5rem;
}

.middle-right {
  border-left: 1px solid hsl(0, 0%, 80%);
  width: 45%;
  display: flex;
  flex-direction: column;
}

.small-story {
  display: flex;
  align-items: center;
  padding: 1.5rem 0 1.5rem 0.75rem;
  border-bottom: 1px solid hsl(0, 0%, 80%);
}

.small-story:hover {
  background-color: hsl(0, 0%, 70%);
}

.small-story img {
  width:35%;
  height: auto;
}
.small-text {
  margin-left: 0.75rem;
}

.small-text p {
  margin: 1rem 0;
}

.small-text a {
  background-color: hsl(0, 0%, 30%);
  color: white;
  padding: 0.25rem;
}

/*Learning Section*/

.learning {
  background-color: hsl(0, 0%, 80%);
  text-align: center;
  padding: 2rem 0;
}

.gridframe {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gridbox {
  background-color: white;
  margin: 1rem;
  width: 25%;
}

.gridbox img {
  height: auto;
  width: 100%;
}

.gridbox h2 {
  margin: 1rem 0;
}

.gridtext {
  text-align: left;
  padding: 1rem;
}

.gridtext p {
  padding: 0.5rem 0;
}

/*Thesis Section*/

.thesis {
  text-align: center;
  padding: 2rem 0;
}

.thesis-left {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.thesis-left video {
  width: 100%;
}

.thesis-text {
  text-align: left;
}

.thesis-text h2 {
  margin: 1.5rem 0 0.5rem 0;
}

.thesis-right {
  width: 40%;
}
